mode: EXECVE

time_limit: 10
max_cpus: 1

# All namespaces disabled for Cloud Run compatibility
clone_newnet: false
clone_newuser: false
clone_newns: false
clone_newpid: false
clone_newipc: false
clone_newuts: false
clone_newcgroup: false

mount {
  src: "/tmp"
  dst: "/tmp"
  is_bind: true
}

mount {
  src: "/dev/null"
  dst: "/dev/null"
  is_bind: true
  rw: false
}

mount {
  src: "/dev/urandom"
  dst: "/dev/urandom"
  is_bind: true
  rw: false
}

mount {
  src: "/dev/random"
  dst: "/dev/random"
  is_bind: true
  rw: false
}